ddgs
mcp
langchain-mcp-adapters
python-multipart
langsmith
sqlalchemy
fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
psycopg[binary]
langchain
langchain-core
langchain-postgres
langchain-ollama
docling
langchain-docling
sentence-transformers
